/Makefile.in
/autom4te.cache/
/config.h.in
/configure
/diff/Makefile.in
/extra/Makefile.in
/src/Makefile.in
/src/g_common/Makefile.in
/src/g_re1/Makefile.in
/src/g_re2/Makefile.in
/src/g_re3/Makefile.in
/src/r_common/Makefile.in
/src/r_opengl/Makefile.in
/src/r_soft/Makefile.in
/vs2005/Makefile.in
/aclocal.m4
